@model List<NorthwindBasedWebApplication.Models.Dtos.CategoryDtos.CreateCategoryDto>

<head>
    <link href='https://cdn.datatables.net/1.10.21/css/jquery.dataTables.min.css' rel='stylesheet'>
    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
    <script src="https://cdn.datatables.net/1.10.21/js/jquery.dataTables.min.js"></script>
    <style>
        .table th, .table td {
            white-space: nowrap;
            overflow: hidden;
            text-overflow: ellipsis;
            max-width: 100px;
        }
        @@media (min-width: 1200px) {
            .container {
                margin-right: 200px;
            }
        }
    </style>
</head>

<div class="container mt-4">
    <h4 class="pb-3">Categories</h4>
    <div class="table-responsive">
        <table id="table" class="table table-bordered table-striped">
            <thead>
                <tr>
                    <th>Category Id</th>
                    <th>Category Name</th>
                    <th>Description</th>
                </tr>
            </thead>
        </table>
    </div>
</div>

<script>
    $(document).ready(function() {
        $('#table').DataTable({
            "ajax": {
                "url": "@Url.Action("LoadData", "Category")",
                "dataSrc": "data",
                "error": function (xhr, error, thrown) {
                    console.error('Error fetching data:', thrown);
                },
            },
            "columns": [
                { "data": "Id" },
                { "data": "CategoryName" },
                { "data": "Description" }
            ]
        });
    });
</script>
