@model NorthwindBasedWebApplication.Models.Dtos.CustomerDtos.CreateCustomerDto

<head>
    <link href='https://unpkg.com/boxicons@2.1.4/css/boxicons.min.css' rel='stylesheet'>


    <style>
        .input-group-text i {
            padding: 3px;
            font-size: 1.5em; /* Adjust size as needed */
        }

    </style>

</head>





<style>
    
</style>

<form asp-action="Create">
    <br />
    <div class="container border p-3">
        <h1 class="text-primary">Create Customer</h1>
        <hr />
        <div class="row">
            <div asp-validation-summary="All" class="text-danger"></div>

            <div class="col-2">
                <label asp-for="CustomerId" class="control-label" style="font-size:1.3rem"></label>
            </div>
            <div class="col-10 pb-3">
                <div class="input-group">
                    <div class="input-group-prepend">
                        <span class="input-group-text">
                            <i class='bx bx-id-card'></i>
                        </span>
                    </div>
                    <input class="form-control" asp-for="CustomerId" />
                </div>
                <span asp-validation-for="CustomerId" class="text-danger"></span>
            </div>

            @* <div class="col-2">
                <label asp-for="CompanyName" class="control-label"></label>
            </div> *@
            @* <div class="col-10 pb-3">
                <select asp-for="CompanyName" class="form-select">
                    <option disabled selected>--Select Villa--</option>
                </select>
                <span asp-validation-for="Address" class="text-danger"></span>
            </div> *@

            <div class="col-2">
                <label asp-for="CompanyName" class="control-label" style="font-size:1.3rem"></label>
            </div>
            <div class="col-10 pb-3">
                <div class="input-group">
                    <div class="input-group-prepend">
                        <span class="input-group-text">
                            <i class='bx bx-buildings'></i>
                        </span>
                    </div>
                    <input class="form-control" asp-for="CompanyName" />
                </div>
                <span asp-validation-for="CompanyName" class="text-danger"></span>
            </div>

            

            <div class="col-2">
                <label asp-for="ContactName" class="control-label" style="font-size:1.3rem"></label>
            </div>
            <div class="col-10 pb-3">
                <div class="input-group">
                    <div class="input-group-prepend">
                        <span class="input-group-text">
                            <i class='bx bxs-contact'></i>
                        </span>
                    </div>
                    <input class="form-control" asp-for="ContactName" />
                </div>
                <span asp-validation-for="ContactName" class="text-danger"></span>
            </div>

            <div class="col-2">
                <label asp-for="ContactTitle" class="control-label" style="font-size:1.3rem"></label>
            </div>
            <div class="col-10 pb-3">
                <div class="input-group">
                    <div class="input-group-prepend">
                        <span class="input-group-text">
                            <i class='bx bx-id-card'></i>
                        </span>
                    </div>
                    <input class="form-control" asp-for="ContactTitle" />
                </div>
                <span asp-validation-for="ContactTitle" class="text-danger"></span>
            </div>

            <div class="col-2">
                <label asp-for="Address" class="control-label" style="font-size:1.3rem"></label>
            </div>
            <div class="col-10 pb-3">
                <div class="input-group">
                    <div class="input-group-prepend">
                        <span class="input-group-text">
                            <i class='bx bxs-conversation'></i>
                        </span>
                    </div>
                    <input class="form-control" asp-for="Address" />
                </div>
                <span asp-validation-for="Address" class="text-danger"></span>
            </div>

            <div class="col-2">
                <label asp-for="City" class="control-label" style="font-size:1.3rem"></label>
            </div>
            <div class="col-10 pb-3">
                <div class="input-group">
                    <div class="input-group-prepend">
                        <span class="input-group-text">
                            <i class='bx bx-location-plus'></i>
                        </span>
                    </div>
                    <input class="form-control" asp-for="City" />
                </div>
                <span asp-validation-for="City" class="text-danger"></span>
            </div>

            <div class="col-2">
                <label asp-for="Region" class="control-label" style="font-size:1.3rem"></label>
            </div>
            <div class="col-10 pb-3">
                <div class="input-group">
                    <div class="input-group-prepend">
                        <span class="input-group-text">
                            <i class='bx bxs-city'></i>
                        </span>
                    </div>
                    <input class="form-control" asp-for="Region" />
                </div>
                <span asp-validation-for="Region" class="text-danger"></span>
            </div>

            <div class="col-2">
                <label asp-for="PostalCode" class="control-label" style="font-size:1.3rem"></label>
            </div>
            <div class="col-10 pb-3">
                <div class="input-group">
                    <div class="input-group-prepend">
                        <span class="input-group-text">
                            <i class='bx bx-id-card'></i>
                        </span>
                    </div>
                    <input class="form-control" asp-for="PostalCode" />
                </div>
                <span asp-validation-for="PostalCode" class="text-danger"></span>
            </div>

            <div class="col-2">
                <label asp-for="Country" class="control-label" style="font-size:1.3rem"></label>
            </div>
            <div class="col-10 pb-3">
                <div class="input-group">
                    <div class="input-group-prepend">
                        <span class="input-group-text">
                            <i class='bx bx-barcode'></i>
                        </span>
                    </div>
                    <input class="form-control" asp-for="Country" />
                </div>
                <span asp-validation-for="Country" class="text-danger"></span>
            </div>
            <div class="col-2">
                <label asp-for="Phone" class="control-label" style="font-size:1.3rem"></label>
            </div>
            <div class="col-10 pb-3">
                <div class="input-group">
                    <div class="input-group-prepend">
                        <span class="input-group-text">
                            <i class='bx  bx-home-alt'></i>
                        </span>
                    </div>
                    <input class="form-control" asp-for="Phone" />
                </div>
                <span asp-validation-for="Phone" class="text-danger"></span>
            </div>

            <div class="col-2">
                <label asp-for="Fax" class="control-label" style="font-size:1.3rem"></label>
            </div>
            <div class="col-10 pb-3">
                <div class="input-group">
                    <div class="input-group-prepend">
                        <span class="input-group-text">
                            <i class='bx bx-printer'></i>
                        </span>
                    </div>
                    <input class="form-control" asp-for="Fax" />
                </div>
                <span asp-validation-for="Fax" class="text-danger"></span>
            </div>


            <div class="col-2">
                <label asp-for="PictureUrl" class="control-label" style="font-size:1.3rem"></label>
            </div>
            <div class="col-10 pb-3">
                <div class="input-group">
                    <div class="input-group-prepend">
                        <span class="input-group-text">
                            <i class='bx bx-id-card'></i>
                        </span>
                    </div>
                    <input class="form-control" asp-for="PictureUrl" />
                </div>
                <span asp-validation-for="PictureUrl" class="text-danger"></span>
            </div>

            

            <div class="col-5 offset-2">
                <input type="submit" value="Create" class="btn btn-success form-control" />
            </div>

            <div class="col-5">
                <a asp-controller="Customer" asp-action="Index" class="btn btn-outline-primary">Back To Customers</a>
            </div>

        </div>
    </div>

</form>

@section Scripts {
    <partial name="_ValidationScriptsPartial" />
}